<a href="https://colab.research.google.com/github/ManasviAtGitHub/Python-practice-DSA/blob/main/Absolute_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Say Hellooo !!!

In [ ]:
print('Hellooo !!!')

Hellooo !!!

Lets import and print again

In [ ]:
import platform
print('Python version {}'.format(platform.python_version()))

Python version 3.7.13

Same thing but another way... just for fun.

Procedural style

In [ ]:
import platform

def main():
  message()

def message():
  print('Python version {}'.format(platform.python_version()))

if __name__ == '__main__' : main()

Python version 3.7.13

  Its all about indents..
  isn't it

In [ ]:
import platform

def main():
  message()

def message():
  print('Python version {}'.format(platform.python_version()))
  
print('I am from message or am I just running wildly')

if __name__ == '__main__' : main()

I am from message or am I just running wildly
Python version 3.7.13

In [ ]:
import platform

def main():
  message()

def message():
  print('Python version {}'.format(platform.python_version()))
  print('I am from message or am I just running wildly')

if __name__ == '__main__' : main()

Python version 3.7.13
I am from message or am I just running wildly

Format comes form string object...

In [ ]:
universe = 42
print("Truth of Universe is {}".format(universe))

Truth of Universe is 42

Blocks and scope

In [ ]:
x = 42
y = 73

if x > y:
  print('x < y: x is {} and y is {}'.format(x,y))
  print ('x = {}'.format(x))
print('y = {}'.format(y))

y = 73

Does block define the scope ? 
hint: N_

In [ ]:
x = 42
y = 73

if x > y:
  z=112 
  print('x < y: x is {} and y is {}'.format(x,y))
  print ('x = {}'.format(x))

print('z = {}'.format(y))

z = 73

Conditionals

In [ ]:
x = 42
y = 73

if x < y:
  print('x < y: x is {} and y is {}'.format(x,y))

x < y: x is 42 and y is 73

In [ ]:
x = 115
y = 73

if x < y:
  print('x < y: x is {} and y is {}'.format(x,y))

elif x > y:
  print('x > y: x is {} and y is {}'.format(x,y))
else :
  print('huhh....')

x > y: x is 115 and y is 73

Loops.. for a while

In [ ]:
letters = ['A','B','C']
n = 0
while(n<3):
  print(letters[n])
  n+=1

A
B
C

In [ ]:
a, b = 0, 1
while b < 100:
  print (b, end=" ")
  a, b = b, a+b

1 1 2 3 5 8 13 21 34 55 89

In [ ]:
letters = ['A','B','C']
for i in letters:
  print(i)

A
B
C

Functions

In [ ]:
def func(n):
  print(n)

func("Hey... ?")

Hey... ?

In [ ]:
def is_prime(n):
  if n <= 1: 
    return False
  for x in range(2, n):
    if n%x == 0:
      return False
  else:
    return True
def list_primes(n):
  for n in range(100):
    if is_prime(n):
      print(n, end =" ")

n = 6

list_primes(n)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

Objects

In [ ]:
class Duck:
  sound = "Quaaack Quaaack"
  walking ="Walks like a duck"

  def quack(self):
    print(self.sound)
  
  def walk(self):
    print(self.walking)


def main():
  donald = Duck()
  donald.quack()
  donald.walk()

if __name__ == '__main__' : main()

Quaaack Quaaack
Walks like a duck

Types : all types are classes... that's nice

String Types

In [ ]:
typ = [7,'7',7.7,True,None]

for i in typ:
  print(f'type of {i} is {type(i)}')

type of 7 is <class 'int'>
type of 7 is <class 'str'>
type of 7.7 is <class 'float'>
type of True is <class 'bool'>
type of None is <class 'NoneType'>

In [ ]:
x1 = 'Works'
x2 = ''' Still Works '''
y1 = "Works"
y2 = """ Still Works """

z1 = 'multiverse'.capitalize()
z2 = 'Multiverse'.lower()
z3 = 'Multiverse'.upper()

a1 = '7 {} {}'.format(8,9)
a2 = '7 {1} {0}'.format(8,9)

b1 = '7 {1:<9} {0:>9}'.format(8,9)
b2 = '7 "{1:<9}" "{0:>9}" '.format(8,9)
b3 = '7 "{1:<09}" "{0:>09}" '.format(8,9)

print(f'x1 = {x1}')
print(f'x2 = {x2}')
print(f'y1 = {y1}')
print(f'y2 = {y2}')


print(f'z1 = {z1}')
print(f'z2 = {z2}')
print(f'z3 = {z3}')

print(f'a1 = {a1}')
print(f'a2 = {a2}')

print(f'b1 = {b1}')
print(f'b2 = {b2}')
print(f'b3 = {b3}')

x1 = Works
x2 =  Still Works
y1 = Works
y2 =  Still Works
z1 = Multiverse
z2 = multiverse
z3 = MULTIVERSE
a1 = 7 8 9
a2 = 7 9 8
b1 = 7 9                 8
b2 = 7 "9        " "        8"
b3 = 7 "900000000" "000000008"

Numeric Types

In [ ]:
x = .1 + .1 + .1 -.3 # should be 0... but floating point numbers are different
print(f'{x}')
type(x)

5.551115123125783e-17

float

In [ ]:
from decimal import Decimal
a = Decimal('.10')
b = Decimal('.30')
x = a+a+a-b
print(f'{x}')
type(x)

0.00

decimal.Decimal

Logical Types

In [ ]:
x = True
type(x)

bool

In [ ]:
x = 8>2
type(x)

bool

In [ ]:
x = None
if x:
  print("True")
else:
  print('False')

False

In [ ]:
x =""
if x:
  print("True")
else:
  print('False')

False

In [ ]:
x ="T"
if x:
  print("True")
else:
  print('False')

True

In [ ]:
x = 0
if x:
  print("True")
else:
  print('False')

False

In [ ]:
x = 1
if x:
  print("True")
else:
  print('False')

True

Lists..

In [ ]:
x = [2,4,5,6,7,8,9]
print(f"{x}")
type(x)

[2, 4, 5, 6, 7, 8, 9]

list

In [ ]:
x = [2,4,5,6,7,8,9]
x[1] = 3 # because lists are mutable
print(f"{x}")

[2, 3, 5, 6, 7, 8, 9]

Tuples

In [ ]:
x = (2,4,5,6,7,8,9)
print(f"{x}") 
type(x)

(2, 4, 5, 6, 7, 8, 9)

tuple

In [ ]:
x = (2,4,5,6,7,8,9)
#x[1] = 3 # Tuples are immutable so this won't work
print(f"{x}") 
type(x)

Range

In [ ]:
# Like tuples, range are also immutable
# we can covert them into a list and then change
x = range(5)
for i in x:
  print(i) 
type(x)

0
1
2
3
4

range

In [ ]:
x = range(5,10)
for i in x:
  print(i) 
type(x)

5
6
7
8
9

range

In [ ]:
x = range(5,15,5)
for i in x:
  print(i) 
type(x)

5
10

range

Dictionary

In [ ]:
#Dictionaries are mutable
x = {'A':1, 'B': 2, 3:'C'}
for i in x:
  print(i)

type(x)

A
B
3

dict

In [ ]:
x = {'A':1, 'B': 2, 3:'C'}
for k,v in x.items():
  print(f"key {k}, value {v}")

key A, value 1
key B, value 2
key 3, value C

Type and Id

In [ ]:
x = (1,2,3)
y = (3,4,5)

print(type(x))
print(type(y))

<class 'tuple'>
<class 'tuple'>

In [ ]:
x = (1,2,3)
y = (3,4,5)

print(type(x[0]))
print(type(y[0]))

<class 'int'>
<class 'int'>

In [ ]:
x = (1,2,3)
y = (3,4,5)

print(id(x))
print(id(y))

140305544146608
140305543453264

In [ ]:
x = (1,2,3)
y = (3,4,5)

# both are 3
print(id(x[2]))
print(id(y[0]))

11256128
11256128

Bitwise Operators

In [ ]:
x = 0x10
y = 0x15
z = x & y #and

print(f'hex x is {x:02x}, y is {y:02x}, z is {z:02x}')

print(f'bin x is {x:08b}, y is {y:08b}, z is {z:08b}')

hex x is 10, y is 15, z is 10
bin x is 00010000, y is 00010101, z is 00010000

In [ ]:
z = x | y #or

print(f'hex x is {x:02x}, y is {y:02x}, z is {z:02x}')

print(f'bin x is {x:08b}, y is {y:08b}, z is {z:08b}')

hex x is 10, y is 15, z is 15
bin x is 00010000, y is 00010101, z is 00010101

In [ ]:
z = x ^ y #xor
print(f'hex x is {x:02x}, y is {y:02x}, z is {z:02x}')

print(f'bin x is {x:08b}, y is {y:08b}, z is {z:08b}')

hex x is 10, y is 15, z is 05
bin x is 00010000, y is 00010101, z is 00000101

In [ ]:
z = x << 1 #shift left
print(f'hex x is {x:02x}, y is {y:02x}, z is {z:02x}')

print(f'bin x is {x:08b}, y is {y:08b}, z is {z:08b}')

hex x is 10, y is 15, z is 20
bin x is 00010000, y is 00010101, z is 00100000

In [ ]:
z = x >> 1 #shift right
print(f'hex x is {x:02x}, y is {y:02x}, z is {z:02x}')

print(f'bin x is {x:08b}, y is {y:08b}, z is {z:08b}')

hex x is 10, y is 15, z is 08
bin x is 00010000, y is 00010101, z is 00001000

Boolean Operators

In [ ]:
a = True
b = False

if a and b:
     print ('expression is true')
else:
     print ('expression is false')

expression is false

In [ ]:
a = True
b = False

if a or b:
     print ('expression is true')
else:
     print ('expression is false')

expression is true

In [ ]:
a = True
b = False

if not b:
     print ('expression is true')
else:
     print ('expression is false')

expression is true

In [ ]:
x = ('bear' , 'bunny' , 'tree' , 'sky', 'rain')
y = 'bear'

if y in x:
     print ('expression is true')
else:
     print ('expression is false')

expression is true

In [ ]:
x = ('bear' , 'bunny' , 'tree' , 'sky', 'rain')
y = 'bear'

if 'stem' in x:
     print ('expression is true')
else:
     print ('expression is false')

expression is false

In [ ]:
x = ('bear' , 'bunny' , 'tree' , 'sky', 'rain')
y = 'bear'

if y is x[0]:
     print ('expression is true')
else:
     print ('expression is false')

print(id(y))
print(id(x[0]))

expression is true
139842691767792
139842691767792

In [ ]:
x = ('bear' , 'bunny' , 'tree' , 'sky', 'rain')
y = 'bear'

if y is not x[0]:
     print ('expression is true')
else:
     print ('expression is false')

expression is false

Take break, then continue or do something else !!

In [ ]:
guess = "mystery"
word =""
count=0
found = False
attempts= 5
while word != guess:
  count+=1
  if count>attempts:break
  if count == 3 : continue
  word = input(f"{count} Guess the mystery word : ")
else:
  found = True

print("Found the treasure" if found else "Try again later")

1 Guess the mystery word : is
2 Guess the mystery word : this
4 Guess the mystery word : a
5 Guess the mystery word : mystery
Found the treasure

In [ ]:
nums = (1,2,3,4,5)
for n in nums:
  #if n == 5 : break
  #if n == 3 : continue
  print(n)

else:
  print("That's all")

1
2
3
4
5
That's all

Functions.. arguments.. default, list, keyword

In [ ]:
def main():
  call("hey")

def call(n):
  print(n)

if __name__ == '__main__':main()

hey

In [ ]:
def main():
  call2("hey")

def call2(n,g="how are you ?"):
  print(n,g)

if __name__ == '__main__':main()

hey how are you ?

In [ ]:
def main():
  call3("hey")

def call3(n,g="how are you ?", t="today"):
  print(n,g,t)

if __name__ == '__main__':main()

hey how are you ? today

In [ ]:
def main():
  call3("hey","where are you ?")

def call3(n,g="how are you ?", t="today"):
  print(n,g,t)

if __name__ == '__main__':main()

hey where are you ? today

In [ ]:
def main():
  willchange =[100]
  willnot = 3
  print(willchange[0],willnot)
  call4(willchange,willnot)
  print(willchange[0],willnot)

def call4(w,x):
  w[0] = 200
  x = 300
  print(w[0],x)

if __name__ == '__main__':main()

100 3
200 300
200 3

In [ ]:
def main():
  send = [1,2,3]

  call5(*send)# unpacks the list and then sends to function
  call5(4,5,6,7)

def call5(*nums):
  for i in nums:
    print(i)
 

if __name__ == '__main__':main()

1
2
3
4
5
6
7

In [ ]:
def main():
  send = {"A":1, "B":2}

  call6(**send)# unpacks the dictionary and then sends to function
  call6(C=3, D=4)

def call6(**args):
  for i in args:
    print(i, args[i])
 

if __name__ == '__main__':main()

A 1
B 2
C 3
D 4

Generator and Decorator

In [ ]:
def generator(start,stop):
    while (start<=stop):
        yield start
        print(f'start={start}')
        start+=1
for counter in generator(3,4):
    print(f'counter={counter}')

counter=3
start=3
counter=4
start=4

In [ ]:
def F1(f):
    print('A')
    def F2():
        print('B')
        f()
        print('C')
    print('D')
    return F2
@F1
def F3():
    print('E')
F3()

A
D
B
E
C